@font-face {
    font-family: 'CozetteVector';
    src: url('/public/fonts/CozetteVector.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --bg-color: #F3EAE9;
    --bold-color: #873E40;
    --border-color: #C97270;
    --code: #ECC3C2;
    --link: #D68482;
    --text-color: #250E07;
    --hover: #E2C9C0;
    --caption: #d18b85;
}
@media only screen and (max-width: 375px) {
html {
    width: 270px;
    line-height: 90%;
    margin:auto;
    padding:10px;
    font-size: 85%;
}
img {
    width: 100%;
    height: fit-content;
}
}

@media only screen and (max-width: 392px) {
    html {
        width: 355px;
        line-height: 1.1;
        margin: auto;
        padding: 10px;
        font-size: 90%;
    }
    img {
        width: 100%
    }
}

@media only screen and (min-width: 375px) {
    html {
        width: 355px;
        line-height: 1.1;
        margin: auto;
        padding: 10px;
        font-size: 90%;
    }
    img {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    html {
        width: 685px;
        line-height: 1.1;
        margin: auto;
        padding: 10px;
        font-size: 100%;
    }
    img {
        width: 100%
    }
}

main {
    counter-reset: h2section;
    margin: auto;
    max-width: 50em;
}

body {
    font-family:NotoEmoji-Regular,CozetteVector,monospace!important;
    font-weight:400;
    background-color: var(--bg-color);
    color: var(--text-color);
    counter-reset: h2section;
    line-height: 1.4;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 50em;
}

body::-webkit-scrollbar {
    display: none;
}

footer {
    text-align: center;
    border-top: 1px solid var(--border-color);
}

img {
    max-width: 50em;
    max-height: 40em;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    object-fit: cover;
    object-position: top 40%;
}

code {
    background-color: var(--code);
}

strong {
    color: var(--bold-color);
}

a {
    color: var(--link);
}

a:hover {
     background-color: var(--hover);
}

b {
    color: var(--bold-color);
}

p {
    display: none;
}

h1 {
    color: var(--bold-color);
}

h1.title {
    color: var(--bold-color);
}

h2 {
    color: var(--bold-color);
    border-bottom: 1px solid var(--border-color);
}

h2::after, h3::after {
    font-family: Courier,monospace;
    font-weight: 400;
    font-size: .9rem;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 1.5em;
}

h3 {
    color: var(--bold-color);
}

header {
    display: flex;
    flex-wrap: wrap;
}

.header {
    border-bottom: 1px solid var(--border-color);
    display: flexbox;
    flex-wrap: wrap;
    font-size: 1.15rem;
    margin-top: 0.5em;
    margin-bottom: 2em;
    overflow: hidden;
}
  
.header a {
    color: var(--border-color);
    background-color: transparent;
    float: left;
    padding: 0.5em;
    text-align: left;
    text-decoration: none;
}
 
.header-right {
    float: right;
}

imgcaption {
    color:var(--caption);
    display: inherit;
    padding: .2em;
    padding-bottom: 1%;
    text-align: center;
}
