@page "/"

<h1>lost umbrella blog</h1>

<h2><b>0000 - </b>so this is my new blog, i guess. i mainly wanted to make this blog so i could do a bit of web development with c#, which is my main and favorite language to code in, but i didnt have any big ideas on what to do for a project, so why not make a simple blog for fun? i chose the name lost umbrella because its the name of one of my favorite songs to listen to, and because its just a funky name that sticks out.</h2>

