@page "/"

<h1>i lost my umbrella</h1>

<h2><b>0000 - </b>so this is my "blog" of sorts. i mainly wanted to make this blog so i could do a bit of web development with c#, which is my main and favorite language to code in.
i also know how to program in python, c++, and java. my primary operating system is linux, which is where i do all of my programming work. i use openSUSE Tumbleweed, and Gentoo, but i still have windows on my drive for certain programs.
i chose the name lost umbrella because its the name of one of my favorite songs, made by inabakumori. it's also a funky name, and this isn't a strictly tech related blog, just something to write to.
</h2>

<h2><b>0001 - </b>python is one of the most popular languages in the world, and for good reason. it's extremely easy to write and understand, there are multiple libraries, and its good for many things like machine learning and data analysis. it's often suggested to newcomers in the programming field because of how popular and simple it is. but i would much rather work with another language now, because of a few issues that I have with python. 
the first problem with python is the fact that it's dynamically typed, which can lead to a bunch of errors as the program becomes larger due to variables being checked at runtime, and this could lead to errors, especially in math calculations where you have two variables that you want to add together, but since one might be a float and the other might be a integer, it could lead to an error because they are two different types. there are good arguments to both sides of the story, since you can use something like int(variable) or str(variable) to specify types. 
i prefer statically typed, regardless of the fact that i have to write a few more lines of code, it's just much more clearer for me. another problem i have with python is the fact that it uses whitespace for its syntax, which makes the code harder for me to read, because you don't have curly braces to find where a function begins and ends, where the actions in a conditional statement are contained, etc. 
final big problem i have with it, is that it's slower than most compiled languages. of course, it being slow doesn't matter too much as hardware improves, but it's still a problem for older hardware. but python is constantly being improved on with every major release of the language, it's a great language, just wouldn't be my choice for a personal project.
</h2>

<h2><b>0010 - </b>
</h2>
