@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <name>lost umbrella</name>
            <a href="https://sugarblank.dev/" >sugarblank</a>
            <a href="https://github.com/SugarBlank/">github</a>
        
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
