.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    background-color:#ede6e3;
}

.top-row {
    background-color:  #b6a8a2;
    justify-content: flex-end;
    height: 5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep github, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row github:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .top-row ::deep portfolio, .top-row .btn-link {
        white-space: nowrap;
        text-align: start;
    }
    .top-row portfolio:first-child {
        white-space: no;
        text-align: start;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }


}